body{
    /*disable all scrollbars*/
    overflow: hidden;
}

#masterDIV{
    position:relative;
}

.uploadButtonContainer{
    width:54px;
    height:34px;
    position:absolute;
    /*background-color: aqua;*/
    right: 0px;
    top:0px;
    margin-right:20px;
    margin-top:20px;
    filter: drop-shadow(0px 0px 4px #000000);
}

#uploadModelButton-real{
    display:none;
}

.uploadButton {
    height: 100%;
    width: 100%;
    background: url('../images/icons/IC_upload_128BY80.svg') no-repeat center top;
    background-size:contain;
    cursor:pointer;

}


.bottomRightIcons {
    width: 20%;
    height: 34px;
    right: 0px;
    bottom: 0px;
    /*background-color: #ec506b;*/
    position: absolute;
    margin-bottom:20px;
    margin-right:20px;
    bottom: 0px;
    right: 0px;
}





.bottomItemContainer {
    width: 10%;
    height: 100%;
    background-size:contain;
    float: right;
    cursor:pointer;
    min-width: 34px;
    max-width: 44px;
    filter: drop-shadow(0px 0px 4px #000000);
    position:relative;
}

.bottomItem{
    width:100%;
    height:100%;
    /*background-color: green;*/
    background-size:contain;
    position:absolute;
    right:0px;
    top:0px;
}

.bottomItemAdjust{
    margin-right:20px;
}

.rotateIcon {
    background: url("../images/icons/IC_rotation.svg") no-repeat center center;
    background-size:contain;
}

.projectionSwitch{
    background: url("../images/icons/IC_cube.svg") no-repeat center center;
    background-size:contain;
}

.shadingSelection{
    background: url("../images/icons/IC_shading.svg") no-repeat center center;
    background-size:contain;
}




.tooltip{
    position:relative;
    background-color:green;
}

.tooltipText {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -130%;
    left: 0px;
    font-size: 11px;
    border: 1px dashed grey;
    border-radius: 10px;
    /*background-color: red;*/
    text-align: center;
    /*visibility: hidden;*/
    filter: drop-shadow(0px 0px 0px #ff0000);
    opacity:.4;
    padding-right:5px;
    padding-left:5px;
}

