body{
    /*disable all scrollbars*/
    overflow: hidden;
}

#masterDIV{
    position:relative;
}


.uploadButtonContainer{
    width:70px;
    height:44px;
    position:absolute;
    /*background-color: aqua;*/
    right: 0px;
    top:0px;
    margin-right:20px;
    margin-top:20px;
    background-color: #b1b1b1;
    border-radius: 100px;
    padding: 2px;
    filter:drop-shadow(0px 0px 0px #ffffff00);

}

.uploadButtonContainer:hover {
    filter: drop-shadow(2px 2px 2px #949494);

}

#uploadModelButton-real{
    display:none;
}

.uploadButton {
    height: 100%;
    width: 100%;
    background: url('../images/icons/IC_upload_128BY80.svg') no-repeat center top;
    background-size:contain;
    cursor:pointer;
}

.uploadButton:hover{
    background: url('../images/icons/IC_upload_128BY80_hover.svg') no-repeat center top;
    background-size:contain;
}


#burgerIconContainer{
    width:70px;
    height:44px;
    position:absolute;
    left: 0px;
    top:0px;
    padding:9px;
    margin-left:20px;
    margin-top:20px;
    border-radius: 100px;
    background-color: #b1b1b1;
    filter:drop-shadow(0px 0px 0px #ffffff00);

}

#burgerIconContainer:hover{
    filter: drop-shadow(2px 2px 2px #949494);
}

#burgerIcon{
    width:100%;
    height:100%;
    background: url("../images/icons/IC_burgerMenu.svg") no-repeat center center;
    background-size:contain;
    cursor:pointer;
}

#burgerIcon:hover{
    background: url("../images/icons/IC_burgerMenu_hover.svg") no-repeat center center;
    background-size:contain;
}

#closeSettingPanelContainer{
    width:100%;
    height:20px;
    padding-top:10px;
    padding-right:5px;
}

#closeSettingPanel {
    width: 30px;
    height: 100%;
    background: url("../images/icons/IC_closeButton.svg") no-repeat center right;
    background-size: contain;
    float: right;
    cursor:pointer;
}


.bottomRightIconsMainContainer {
    right: 0px;
    bottom: 0px;
    /*background-color: #ec506b;*/
    position: absolute;
    margin-bottom:20px;
    margin-right:20px;
    bottom: 0px;
    right: 0px;
}

.roundWrapper{
    width:50px;
    height:50px;
    float:right;
    padding:10px;
    background-color: #b1b1b1;
    border-radius: 100px;
    filter:drop-shadow(0px 0px 0px #ffffff00);
}

.roundWrapper:hover{
    filter: drop-shadow(2px 2px 2px #949494);
}

.roundWrapperAdjust{
    margin-right:18px;
}


.bottomItem{
    width:100%;
    height:100%;
    background-size:contain;
    cursor:pointer;

}


.rotateIcon {
    background: url("../images/icons/IC_turntableAnimation.svg") no-repeat center center;
    background-size:contain;
}

.rotateIcon:hover{
    background: url("../images/icons/IC_turntableAnimation_hover.svg") no-repeat center center;
    background-size:contain;

}

.projectionSwitch{
    background: url("../images/icons/IC_projectionType.svg") no-repeat center center;
    background-size:contain;
}

.projectionSwitch:hover{
    background: url("../images/icons/IC_projectionType_hover.svg") no-repeat center center;
    background-size:contain;
}

.shadingTypeSelection{
    background: url("../images/icons/IC_shadingType.svg") no-repeat center center;
    background-size:contain;
}

.shadingTypeSelection:hover{
    background: url("../images/icons/IC_shadingType_hover.svg") no-repeat center center;
    background-size:contain;
}

#instruction{
    margin-top:20px;
    font-size:20px;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px #ffffff);
}
