#modelSurfaceColor-real{
    display:none;
}

#modelWireColor-real{
    display:none;
}

#canvasBackgroundColor-real{
    display:none;
}

#modelSurfaceColor{
    width:100%;
    height:25px;
    border:1px solid #545454;
    border-radius: 7px;
    background-color: #3c3c3c;
}

#modelWireColor{
    width:100%;
    height:25px;
    border:1px solid #545454;
    border-radius: 7px;
    background-color: #c3c3c3;
}

#canvasBackgroundColor{
    width:100%;
    height:25px;
    border:1px solid #545454;
    border-radius: 7px;
    background-color: #eaeaea;
}